[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
jupyter = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
tensorboard = "*"
networkx = "*"
igraph = "*"
pycairo = "*"
cairocffi = "*"
GitPython = "*"

[dev-packages]

[requires]
python_version = "3.9"
